@font-face {
  font-family: 'Gill Sans Nova';
  src: url("../fonts/GillSansNova-Light.woff") format("woff"), url("../fonts/Gill Sans Nova Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gill Sans Nova Book';
  src: url("../fonts/GillSansNova-Book.woff") format("woff"), url("../fonts/Gill Sans Nova reguler.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gill Sans Nova Medium';
  src: url("../fonts/GillSansNova-Medium.woff") format("woff"), url("../fonts/Gill Sans Nova Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
